/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: #330110;
}

.logo {
  width: 8%;
  max-width: 8%;
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 1em;
}

.navbar-buttons {
  background-color: #330110;
  color: white;
  border: none;
  border-radius: 5px;
  transition: linear 0.1s;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 0.5em;
}

.navbar-buttons:hover {
  background-color: white;
  color: black;
}

/* Body */
.sobre {
  padding: 50px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gif {
  width: 30%;
  height: 30%;
  border-radius: 8px;
}

span {
  color: rgb(170, 2, 2);
  font-style: bold;
}

.informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: #ffffff;
  padding: 50px;
  border: 1px, solid;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
}

.lista {
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.lista-vantagem {
  display: inline-block;
}

.lista-destinos {
  display: inline-block;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 2em;
  font-weight: bold;
  font-size: 16px;
  background-color: #330110;
  color: white;
  position: absolute;
  bottom: 0%;
  width: 100%;
}