/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Outras configs */

::selection {
  color: white;
  background-color: black;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  background-color: #e9d5d3;
}

.logo img {
  width: 60px;
  cursor: pointer;
}


.navbar {
  display: flex;
  gap: 1em;
}

.navbar-buttons {
  color: #330110;
  transition: linear 0.1s;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 0.5em;
}

.navbar-buttons:hover {
  box-shadow: 0 -0.15em #330110 inset;
  color: black;
}

/* Main */

body {
  background-color: #e9d5d3;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2em 0 0;
}

.informacoes {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-weight: 500;
}

span {
  color: #fd0128;
  font-style: bold;
}

.lista {
  margin: 2em 0;
  display: flex;
  justify-content: space-evenly;
}

.lista-vantagem,
.lista-destinos {
  width: 45%;
}

.lista-vantagem h3,
.lista-destinos h3 {
  text-align: center;
  padding: 0.5em;
  color: white;
  background-color: #330110;
}

.lista-vantagem li,
.lista-destinos li {
  text-align: center;
  padding: 0.3em;
  background-color: white;
  font-weight: 500;
}

.gif {
  width: 30%;
  height: 30%;
  border-radius: 3px;
  margin-left: 5em;
}

.motivacao {
  margin-top: 4em;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.motivacao h2 {
  text-align: center;
  margin-bottom: 1em;
}

.agendamento {
  padding: 1em 0;
  border: none;
  background-color: #fd0128;
  font-weight: 700;
  color: white;
  font-size: 16px;
  width: 40%;
  align-self: center;
  transition: linear 0.1s;
  cursor: pointer;
  text-align: center;
}

.agendamento:hover {
  background-color: #a70019;
}

/* Footer */

.rodape {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.7em 2em;
  font-weight: bold;
  font-size: 1em;
  background-color: #330110;
  color: white;
  position: fixed;
  bottom: 0;
}