/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Configs */

::selection {
  color: white;
  background-color: black;
}

/* Header */

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  background-color: #e9d5d3;
}

.cabecalho-logo {
  width: 60px;
  cursor: pointer;
}

.cabecalho-menu {
  display: flex;
  gap: 1em;
}

.cabecalho-menu-botao {
  color: #330110;
  transition: linear 0.1s;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 0.5em;
}

.cabecalho-menu-botao:hover {
  box-shadow: 0 -0.15em #330110 inset;
  color: black;
}

/* Main */

body {
  background-color: #e9d5d3;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em 0 0;
  gap: 5em;
}

.principal-sobre-informacoes {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.principal-sobre-informacoes-apresentacao {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-weight: 500;
}

span {
  color: #fd0128;
  font-style: bold;
}

.principal-sobre-informacoes-lista {
  padding: 2em 0;
  display: flex;
  justify-content: space-evenly;
}

.principal-sobre-informacoes-lista-vantagem,
.principal-sobre-informacoes-lista-destinos {
  width: 45%;
}

.principal-sobre-informacoes-lista-vantagem h3,
.principal-sobre-informacoes-lista-destinos h3 {
  text-align: center;
  padding: 0.5em;
  color: white;
  background-color: #330110;
}

.principal-sobre-informacoes-lista-vantagem li,
.principal-sobre-informacoes-lista-destinos li {
  text-align: center;
  padding: 0.3em;
  background-color: white;
  font-weight: 500;
}

.principal-sobre-gif {
  min-width: 30%;
  border-radius: 3px;
}

.principal-chamada {
  padding-top: 4em;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.principal-chamada h2 {
  text-align: center;
  padding-bottom: 1em;
}

.principal-chamada-agendar {
  padding: 1em 0;
  border: none;
  background-color: #fd0128;
  font-weight: 700;
  color: white;
  font-size: 16px;
  width: 40%;
  align-self: center;
  transition: linear 0.1s;
  cursor: pointer;
  text-align: center;
}

.principal-chamada-agendar:hover {
  background-color: #a70019;
}

/* Footer */

.rodape {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.7em 2em;
  font-weight: bold;
  font-size: 1em;
  background-color: #330110;
  color: white;
  position: fixed;
  bottom: 0;
}