/* Configs */

:root {
  --cor-primaria: #e9d5d3;
  --cor-secundária: #330110;
  --cor-terciaria: #fd0128;
  --cor-quaternaria: #f6f6f6;
  --cor-quinaria: #000000;
  
  --fonte-principal: "Inter", sans-serif;
}

::selection {
  color: var(--cor-quaternaria);
  background-color: var(--cor-quinaria);
}

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}

/* Header */

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  background-color: var(--cor-primaria);
}

.cabecalho-logo {
  width: 3.75rem;
  cursor: pointer;
}

.cabecalho-menu {
  display: flex;
  gap: 1rem;
}

.cabecalho-menu-botao {
  color: var(--cor-secundária);
  transition: linear 0.1s;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em;
}

.cabecalho-menu-botao:hover {
  box-shadow: 0 -0.15em var(--cor-secundária) inset;
  color: black;
}

/* Main */

body {
  background-color: var(--cor-primaria);
  height: 100vh;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em;
}

.principal-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.principal-sobre-informacoes {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.principal-sobre-informacoes-apresentacao {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-weight: 500;
}

span {
  color: var(--cor-terciaria);
  font-style: bold;
}

.principal-sobre-informacoes-lista {
  padding: 2em 0;
  display: flex;
  justify-content: space-evenly;
}

.principal-sobre-informacoes-lista-vantagem,
.principal-sobre-informacoes-lista-destinos {
  width: 45%;
}

.principal-sobre-informacoes-lista-vantagem h3,
.principal-sobre-informacoes-lista-destinos h3 {
  text-align: center;
  padding: 0.5em;
  color: var(--cor-quaternaria);
  background-color: var(--cor-secundária);
}

.principal-sobre-informacoes-lista-vantagem li,
.principal-sobre-informacoes-lista-destinos li {
  text-align: center;
  padding: 0.3em;
  background-color: var(--cor-quaternaria);
  font-weight: 500;
}

.principal-sobre-gif {
  width: 30%;
  border-radius: 3px;
}

.principal-chamada {
  padding-top: 2em;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.principal-chamada {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
  padding-bottom: 1em;
}

.principal-chamada-agendar {
  padding: 1em 1.5em;
  background-color: var(--cor-terciaria);
  font-weight: 700;
  color: white;
  font-size: 1rem;
  transition: linear 0.1s;
  cursor: pointer;
}

.principal-chamada-agendar:hover {
  background-color: #a70019;
}

/* Footer */

.rodape {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.7em 1em;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: var(--cor-secundária);
  color: var(--cor-quaternaria);
  position: fixed;
  bottom: 0;
}