/* Configs */

:root {
  --cor-primaria: #e9d5d3;
  --cor-secundária: #330110;
  --cor-terciaria: #fd0128;
  --cor-quaternaria: #f6f6f6;
  --cor-quinaria: #000000;

  --fonte-principal: "Inter", sans-serif;
}

::selection {
  color: var(--cor-quaternaria);
  background-color: var(--cor-quinaria);
}

/* Reset CSS */

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
  transition: linear 0.1s;
}

html {
  height: 100%;
}

body {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Header */

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  background-color: var(--cor-primaria);
}

.cabecalho-logo {
  width: 3.75rem;
  cursor: pointer;
}

.cabecalho-menu {
  display: flex;
  gap: 1rem;
}

.cabecalho-menu-botao {
  color: var(--cor-secundária);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em;
}

.cabecalho-menu-botao:hover {
  box-shadow: 0 -0.15em var(--cor-secundária) inset;
  color: black;
}

/* Main */

.principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 5rem;
  flex-grow: 1;
  gap: 5rem;
}

.principal-sobre {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.principal-sobre-informacoes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.principal-sobre-informacoes-apresentacao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
}

span {
  color: var(--cor-terciaria);
  font-weight: 700;
}

.principal-sobre-informacoes-lista {
  display: flex;
  justify-content: space-between;
}

.principal-sobre-informacoes-lista-vantagem,
.principal-sobre-informacoes-lista-destinos {
  width: 45%;
}

.principal-sobre-informacoes-lista-vantagem h3,
.principal-sobre-informacoes-lista-destinos h3 {
  text-align: center;
  padding: 0.5em 0;
  color: var(--cor-quaternaria);
  border-radius: 5px 5px 0 0;
  background-color: var(--cor-secundária);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.principal-sobre-informacoes-lista-vantagem p,
.principal-sobre-informacoes-lista-destinos p {
  text-align: center;
  padding: 0.5em 1.5em;
  background-color: var(--cor-quaternaria);
  font-weight: 500;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.principal-sobre-informacoes-lista-vantagem p:nth-child(4),
.principal-sobre-informacoes-lista-destinos p:nth-child(4) {
  border-radius: 0 0 5px 5px;
}

.principal-sobre-gif {
  width: 40%;
  border-radius: 5px;
}

.principal-chamada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.principal-chamada-agendar {
  padding: 1em 1.5em;
  background-color: var(--cor-terciaria);
  font-weight: 700;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.principal-chamada-agendar:hover {
  background-color: #a70019;
}

/* Destinos */

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
  padding: 2rem 0 5rem;
}

.card-title {
  padding: 0 0 1rem;
  color: var(--cor-secundária);
}

.card {
  display: flex;
  font-weight: 500;
  width: 50%;
  background-color: var(--cor-quaternaria);
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card-img {
  background-image: url("../assets/antartida.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 30%;
  border-radius: 5px 0 0 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1em;
  width: 70%;
  text-align: justify;
}

.card-info ul {
  list-style: inside;
}

/* Footer */

.rodape {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  padding: 0.7em 1em;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--cor-secundária);
  color: var(--cor-quaternaria);
}

/* Responsividade */

@media (max-width: 1230px) {
  .principal-sobre {
    flex-direction: column;
    gap: 2rem;
  }

  .principal-sobre-gif {
    width: 50%;
    min-width: 50%;
  }

  .principal-sobre-informacoes-lista-vantagem,
  .principal-sobre-informacoes-lista-destinos {
    width: 47%;
  }

  .principal {
    gap: 4rem;
    padding: 1rem 3rem 3rem;
  }

  .cabecalho-menu-botao {
    color: var(--cor-quaternaria);
    border-radius: 3px;
    padding: 1rem 1.5rem;
    background-color: #330110;
  }
}

@media (max-width: 700px) {
  .principal-sobre-informacoes-lista {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .principal-sobre-informacoes-lista-vantagem,
  .principal-sobre-informacoes-lista-destinos {
    width: 100%;
  }

  .principal-sobre-gif {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .cabecalho-logo {
    display: none;
  }

  .cabecalho-menu {
    gap: 2rem;
  }

  .cabecalho {
    justify-content: center;
    padding: 3rem 5rem 2rem 5rem;
  }
}